<h1>Beosztások</h1>

<button (click)="startShowModal()"
class="btn btn-primary">
<i class="bi bi-clipboard-plus"></i>
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Név</th>
    </tr>
  </thead>
  <tbody>
    @for(position of positions; track position.id) {
      <tr>
        <td>{{ position.id }}</td>
        <td>{{ position.name }}</td>
        <td>
          <button class="btn btn-secondary btn-sm"
          (click)="startEdit(position)">
          <i class="bi bi-pencil"></i>
        </button>
          
          <button class="btn btn-danger ms-2 btn-sm"
          (click)="deletePosition(position.id)">
          <i class="bi bi-trash"></i>
        </button>
        </td>
      </tr>
    }
  </tbody>
</table>


@if(showModal) {
<div class="modal" tabindex="-1" style="display: block;">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">
          {{addMode ? 'Hozzáadás' : 'Módosítás'}}
        </h5>
        <button type="button" class="btn-close" aria-label="Close"
        (click)="cancel()"></button>
      </div>
      <div class="modal-body">
        
        <form [formGroup]="positionForm" (ngSubmit)="startSave()"
        id="positionForm">
          @if(!addMode) {
            <div class="form-group">
              <label for="id" class="form-label">Id</label>
              <input type="text" class="form-control" formControlName="id"
              readonly>
            </div>
          }


          <div class="form-group">
            <label for="name" class="form-label">Név</label>
            <input type="text" class="form-control" formControlName="name">
          </div>
        </form>




      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" 
        (click)="cancel()">Bezár</button>
        
        <button type="submit" class="btn btn-primary"
        form="positionForm">Mentés</button>
      </div>
    </div>
  </div>
</div>

<div class="modal-backdrop fade show"></div>

}

